/* Global */
body {
	margin: 0;
	padding: 0;
	background-image: url('../images/greengradient.png');
	background-color: #00782d;
	background-repeat: repeat-x;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

h1 {
	font-family: 'Love Ya Like A Sister', cursive;
	margin: 0;
	padding: 15px 20px 0;
	color: #fff;
	text-shadow: 2px 2px 2px #111;
}
	
h2 {
	font-family: 'Love Ya Like A Sister', cursive;
	margin: 0;
	padding: 15px 20px 0;
}

p {
	font-family: courier, monospace;
	margin: 0 20px;
}

header {
	background: #63DC90;
	width: 760px;
	height: 88px;
	border-bottom: solid;
	float: left;
}

/* Main Navigation */
nav ul {
	width: 200px;
	margin: 0 auto;
	font-family: courier, monospace;
	background: #63DC90;
	border-bottom: solid;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav li {
	width: 100px;
	background: #63DC90;
	float: left;
}

nav a {
	text-decoration: none;
	color: #FF8500;
	background: #63DC90;
	display: block;
	/*height: 88px;*/
	line-height: 88px;
	text-align: center;
}

nav a:hover {
	color: #fff;
	background: #00B945;
}

nav a:active {
	color: #fff;
	background: #FF8500;
}

/* Introduction Content */
#main {
	background-image: url('../images/leaftexture.png');
	border-bottom: 3px solid;
	overflow: hidden;
}

#paintedturtle {
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
}

#intro {
	width: 565px;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
}

#intro h2, #intro p {
	color: #fff;
	text-shadow: 2px 2px 2px #111;
}

/* News Content */
#news {
	clear: both;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 3px solid;
	background: #238B49;
}

#news p {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	-o-column-count: 3;
}

/* Facts Content */
#facts {
	width: 565px;
	float: left;
}

section ul li {
	font-family: courier, monospace;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	list-style: url('../images/square.png');
}

/* Resources Content */
#resources {
	width: 395px;
	float: left;
}

#resources ol li {
	font-family: courier, monospace;
	margin: 0;
	padding: 0;
	line-height: 30px;
}

/* Sign Up Content */
#tips {
	padding-bottom: 15px;
	border-top: 3px solid;
	clear: both;
	width: 565px;
	float: left;
}

#form {
	width: 395px;
	border-top: 3px solid;
	float: left;
	padding-bottom: 15px;
}

/* Footer */
footer {
	border-top: solid;
	background: #63DC90;
	clear: both;
}

header p, footer p {
	margin-bottom: 0;
	padding-bottom: 15px;
}

/* Link States */
#resources a, #news a {
	text-decoration: none;
}

#resources a:link, #news a:link {
	color: #FF8500;
}

#resources a:visited, #news a:visited {
	color: #024C68;
}

#resources a:hover, #news a:hover {
	color: #FFBC73;
}

#resources a:active, #news a:active {
	color: #FF2C00;
}

/* Image Gallery */
#gallery {
	background: #238B49;
	padding-bottom: 15px;
}

#gallery ul {
	list-style-type: none;
	margin: 0 auto;
	width: 905px;
	padding: 5px;
	overflow: hidden;	
}

#gallery li {
	float: left;
	margin-left: 5px;
}

#gallery img {
	border: 10px solid #fff;
	border-radius: 40px;
	height: 200px;
	width: 200px;
}

/* Buttons have been removed due to tons of validation errors
.button {
	margin: 0 auto;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
} */